//= templates/_header.html

<div class="banner">
	<div class="wrapper">
		<div class="custom">
			<p>Требуется регистрация и продвижение<br>медицинских изделий в России?</p>
			<p>Мы поможем!</p>
			<p>Сделаем Ваш товар продаваемым и узнаваемым вместе</p>
		</div>
	</div>
</div>
<div class="container wrapper">
	<div class="content">
		<p><span class="bold">НДМ ГРУП</span> - специализированная маркетинговая компания. Наша организация оказывает полный спектр услуг по выводу изделий медицинского назначения на российский рынок, начиная от клинических исследований и регистрации продукта до продвижения на рынок и построения конкурентоспособной модели продаж.</p>
		<div class="info">
			<p class="info__title">Что вы получаете, обратившись к нам:</p>
			<p>Уникальность: полный цикл аутсорсинга, в том числе анализ рынка и формирование стратегии по продукту и единая портфельная стратегия;</p>
			<p>Профессионализм: постоянная, обученная команда;</p>
			<p>Качество: результаты деятельности подтверждены успешными проектами;</p>
			<p>Опыт: более 5 лет на фармацевтическом рынке, навыки продвижения различных продуктов.</p>
		</div>
		<div class="articles">
			<div class="articles__item">
				<div class="article">
					<div class="article__img" style="background-image: url('../img/service-1.jpg')"></div>
					<div class="article__content">
						<div class="article__title">
							<h2>Комплексное продвижение товаров на рынке</h2>
						</div>
						<div class="article__intro">
							<ul>
								<li>Регистрация и сертификация</li>
								<li>Подбор персонала</li>
								<li>Вывод на рынок (позиционирование, ценовая и сбытовая стратегия продвижения на рынке)</li>
								<li>Продвижение на рынке</li>
								<li>Подготовка гос. торгов и их полное сопровождение</li>
							</ul>
						</div>
						<a href="#" class="article__readmore">Подробнее</a>
					</div>
				</div>
			</div>
			<div class="articles__item">
				<div class="article">
					<div class="article__img" style="background-image: url('../img/service-2.jpg')"></div>
					<div class="article__content">
						<div class="article__title">
							<h2>Регистрация изделий медицинского назначения:</h2>
						</div>
						<div class="article__intro">
							<ul>
								<li>Сбор необходимой нормативной, технической, эксплуатационной документации, ее анализ, определение вида медицинского изделия, класса потенциального риска, кода ОКПО;</li>
								<li>Получение разрешения на ввоз образцов;</li>
								<li>Сопровождение изделий в технических испытаниях, токсикологических исследованиях, клинических испытаниях</li>
							</ul>
						</div>
						<a href="#" class="article__readmore">Подробнее</a>
					</div>
				</div>
			</div>
			<div class="articles__item">
				<div class="article">
					<div class="article__img" style="background-image: url('../img/service-3.jpg')"></div>
					<div class="article__content">
						<div class="article__title">
							<h2>Декларирование и сертификация в системе ГОСТ Р</h2>
						</div>
						<div class="article__intro">
							<ul>
								<li>Оформление Декларации соответствия ГОСТ Р сроком на один или 3 года</li>
								<li>Оформление Добровольной сертификации соответствия ГОСТ Р сроком на 1 или 3 года</li>
							</ul>
						</div>
						<a href="#" class="article__readmore">Подробнее</a>
					</div>
				</div>
			</div>
			<div class="articles__item">
				<div class="article">
					<div class="article__img" style="background-image: url('../img/service-4.jpg')"></div>
					<div class="article__content">
						<div class="article__title">
							<h2>Представительство в России</h2>
						</div>
						<div class="article__intro">
							<p>Компания НДМ ГРУП готова взять на себя обязательства по представлению ваших интересов в России или помочь с оформлением представительства вашей организации.</p>
							<ul>
								<li>Подготовка пакета документов</li>
								<li>Аккредитация сотрудников представительства в ТПП РФ</li>
								<li>Регистрация иностранного представительства</li>
								<li>Дополнительные услуги</li>
							</ul>
						</div>
						<a href="#" class="article__readmore">Подробнее</a>
					</div>
				</div>
			</div>
			<div class="articles__item">
				<div class="article">
					<div class="article__img" style="background-image: url('../img/service-5.jpg')"></div>
					<div class="article__content">
						<div class="article__title">
							<h2>Комплексное сопровождение тендеров:</h2>
						</div>
						<div class="article__intro">
							<ul>
								<li>Аккредитация на площадках</li>
								<li>Поиск тендеров</li>
								<li>Подготовка заявок на участие в торгах</li>
								<li>Участие в торгах</li>
								<li>Подготовка жалоб в ФАС</li>
							</ul>
						</div>
						<a href="#" class="article__readmore">Подробнее</a>
					</div>
				</div>
			</div>
		</div>		
	</div>
	//= templates/_sidebar.html
</div>


//= templates/_footer.html