	<footer>
		<ul class="topmenu">
			<li class="topmenu__item">
				<a href="#">Услуги</a>
			</li>
			<li class="topmenu__item">
				<a href="#">О компании</a>
			</li>
			<li class="topmenu__item">
				<a href="#">Партнеры</a>
			</li>
			<li class="topmenu__item">
				<a href="#">Статьи</a>
			</li>
			<li class="topmenu__item">
				<a href="#">Контакты</a>
			</li>
		</ul>
		<div class="footer wrapper">
			<div class="footer__item">
				<p>© НДМ ГРУП</p>
			</div>
			<div class="footer__item footer__item-contact">
				<p>127287, Россия, г. Москва, ул. 2-я Хуторская, д. 38а, стр. 1</p>
			</div>
			<div class="footer__item footer__item-email">
				<a href="mailto:info@ndmgroup.ru">info@ndmgroup.ru</a>
			</div>
			<div class="footer__item footer__item-phone">
				<p>+7 (499) <span class="bold">703-33-73</span></p>
			</div>
		</div>
	</footer>
</body>
</html>