<div class="sidebar">
	<div class="sidebar__item">
		<div class="services">
			<div class="services__title">Основные услуги</div>
			<div class="services__content">
				<ul>
					<li>Продвижение товаров на рынке</li>
					<li>Регистрация изделий медицинского назначения</li>
					<li>Декларирование и сертификация в системе ГОСТ Р</li>
					<li>Представительство в России</li>
					<li>Сопровождение тендеров</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="sidebar__item">
		<div class="contact-form">
			<div class="contact-form__title">Заполните форму для<br>получения бесплатной<br>консультации</div>
			<div class="contact-form__item">
				<input type="text" class="contact-form__input error" placeholder="имя *">
			</div>
			<div class="contact-form__item">
				<input type="text" class="contact-form__input error" placeholder="телефон *">
			</div>
			<div class="contact-form__item">
				<input type="text" class="contact-form__input" placeholder="e-mail *">
			</div>
			<div class="contact-form__item">
				<input type="text" class="contact-form__input" placeholder="сайт">
			</div>
			<div class="contact-form__item">
				Что вас интересует?
				<textarea class="contact-form__input contact-form__input-textarea"></textarea>
			</div>
			<div class="contact-form__item">
				<span class="contact-form__send-wrapper">
					<input type="submit" class="contact-form__send" value="Получить бесплатную консультацию">
				</span>
			</div>
		</div>
	</div>
</div>